<div class=''>
    <h4><%= _("Merge Articles")%></h4>
    
    Article ID 
    <input id="_merge_with" name="merge_with" size="30" type="text" />
    
    <%= submit_tag 'Merge With This Article'%>
  </div> 
